<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h5 class="title_list fw-bold">Về PKStore</h5>
                <ul class="list_item_box">
                    <li><a href="/gioi-thieu">Giới thiệu về công ty</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="title_list fw-bold">Hỗ trợ khách hàng</h5>
                <ul class="list_item_box">
                    <li><a href="/huong-dan">Hướng dẫn mua hàng</a></li>
                    <li><a href="/chinh-sach">Chính sách bảo mật</a></li>
                    <li><a href="/phuong-thuc-thanh-toan">Phương thức thanh toán</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 contact">
                <h5 class="title_list fw-bold text-uppercase">Công ty phần mềm SoftStore</h5>
                <ul class="list_item_box">
                    <li id="strong-info-company">Hệ thống phân phối phần mềm bản quyền hàng đầu</li>
                    <li>Hỗ trợ Kỹ thuật & Bán hàng: <a href="tel:0999999999"
                            class="fw-bold text-danger text-decoration-none">0999.999.999</a></li>
                    <li>Địa chỉ: Trường Đại Học An Giang, TP. Long Xuyên, An Giang</li>
                    <li>Email: fake@fakemail.com</li>
                </ul>
                <div class="mt-3">
                    <span class="me-3 fw-bold">Chấp nhận thanh toán:</span>
                    <i class="bi bi-credit-card fs-3 text-primary me-2"></i>
                    <i class="bi bi-paypal fs-3 text-info me-2"></i>
                    <i class="bi bi-bank fs-3 text-success"></i>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-3">
        <div class="row text-muted small">
            <div class="col-md-6 text-center text-md-start">
                &copy; 2026 Bản quyền thuộc về PKSoft.
            </div>
        </div>
    </div>
</footer>